@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mountains+of+Christmas:wght@400;700&display=swap');

/* @custom-variant dark (&: where([data-mui-color-scheme=dark], [data-mui-color-scheme=dark] *)); */

body {
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 6px; /* Roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

@keyframes scrollDown {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: none;
  }
}

.scroll-down {
  cursor: pointer;
  animation-name: scrollDown;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}
